/ArTaxOr
/ArTaxOr_HF_dataset
/ArTaxOr_ObjDetection.ipynb
/kaggle.json
/test.ipynb
ArTaxOr_HF_dataset_2/dataset_dict.json
ArTaxOr_HF_dataset_2/test/data-00000-of-00003.arrow
ArTaxOr_HF_dataset_2/test/data-00001-of-00003.arrow
ArTaxOr_HF_dataset_2/test/data-00002-of-00003.arrow
ArTaxOr_HF_dataset_2/test/dataset_info.json
ArTaxOr_HF_dataset_2/test/state.json
ArTaxOr_HF_dataset_2/train/data-00000-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00001-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00002-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00003-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00004-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00005-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00006-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00007-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00008-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00009-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00010-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00011-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00012-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00013-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00014-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00015-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00016-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00017-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00018-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00019-of-00021.arrow
ArTaxOr_HF_dataset_2/train/data-00020-of-00021.arrow
ArTaxOr_HF_dataset_2/train/dataset_info.json
ArTaxOr_HF_dataset_2/train/state.json
ArTaxOr_HF_dataset_2/validation/data-00000-of-00003.arrow
ArTaxOr_HF_dataset_2/validation/data-00001-of-00003.arrow
ArTaxOr_HF_dataset_2/validation/data-00002-of-00003.arrow
ArTaxOr_HF_dataset_2/validation/dataset_info.json
ArTaxOr_HF_dataset_2/validation/state.json
